In [3]:
import pandas as pd

In [12]:
catalog_path = '../data/catalog.csv'
meta_path = '../data/ebook_metadata.csv'

In [13]:
catalog_df = pd.read_csv(catalog_path)
meta_df = pd.read_csv(meta_path)

In [17]:
catalog_df.head()

,ID,Book Title,Book Author,Layers
0,W1OP000001,༄༅། །བྱང་ཆུབ་སེམས་དཔའི་སྤྱོད་པ་ལ་འཇུག་པ་ཞེས་བྱ...,ཞི་བ་ལྷ།,title_yigchung
1,W1OP000002,༄༅། །རྒྱལ་བའི་སྲས་ཀྱི་ལག་ལེན་སོ་བདུན་མའི་འགྲེལ...,རྒྱལ་སྲས་ཐོགས་མེད།,title_yigchung_tsawa
2,W1OP000003,༈ ཕན་ཡོན་ཕྱོགས་སྒྲིག་འདོད་འཇོའི་བུམ་བཟང་བཞུགས་སོ།,མཁས་གྲུབ་ཀརྨ་ཆགས་མེད། གཏེར་ཆེན་ཀརྨ་གླིང་པ།,title_quotes_yigchung_tsawa_sapche
3,W1OP000004,༄༅། །སྒྲོལ་མའི་འགྲེལ་པ་ཕྱོགས་སྒྲིག་མེ་ཏོག་ཨུཏྤ...,༧སྐྱབས་རྗེ་གྲུབ་དབང་སངས་རྒྱས་མཉན་པ་རིན་པོ་ཆེ།,title_quotes_yigchung_tsawa_sapche
4,W1OP000005,བློ་སྦྱོང་མཚོན་ཆ་འཁོར་ལོའི་འགྲེལ་པ་འགལ་རྐྱེན་ལ...,།བླ་མ་དྷརྨ་རཀྵི་ཏ།,title_yigchung_tsawa

In [19]:
meta_df.head()

,ID,Book Title,Vol Number,Book Author,Filename
0,W1OP000001,༄༅། །བྱང་ཆུབ་སེམས་དཔའི་སྤྱོད་པ་ལ་འཇུག་པ་ཞེས་བྱ...,NaN,ཞི་བ་ལྷ།,LEK-PHI-004
1,W1OP000002,༄༅། །རྒྱལ་བའི་སྲས་ཀྱི་ལག་ལེན་སོ་བདུན་མའི་འགྲེལ...,NaN,རྒྱལ་སྲས་ཐོགས་མེད།,BEN-LB-002
2,W1OP000003,༈ ཕན་ཡོན་ཕྱོགས་སྒྲིག་འདོད་འཇོའི་བུམ་བཟང་བཞུགས་སོ།,NaN,མཁས་གྲུབ་ཀརྨ་ཆགས་མེད། གཏེར་ཆེན་ཀརྨ་གླིང་པ།,BEN-LB-005
3,W1OP000004,༄༅། །སྒྲོལ་མའི་འགྲེལ་པ་ཕྱོགས་སྒྲིག་མེ་ཏོག་ཨུཏྤ...,NaN,༧སྐྱབས་རྗེ་གྲུབ་དབང་སངས་རྒྱས་མཉན་པ་རིན་པོ་ཆེ།,BEN-LB-007
4,W1OP000005,བློ་སྦྱོང་མཚོན་ཆ་འཁོར་ལོའི་འགྲེལ་པ་འགལ་རྐྱེན་ལ...,NaN,།བླ་མ་དྷརྨ་རཀྵི་ཏ།,BEN-LB-009

In [29]:
layer_df = pd.concat([catalog_df[['ID', 'Layers']], meta_df[['Filename']]], axis=1)

In [30]:
layer_df.head()

           ID                              Layers     Filename
0  W1OP000001                      title_yigchung  LEK-PHI-004
1  W1OP000002                title_yigchung_tsawa   BEN-LB-002
2  W1OP000003  title_quotes_yigchung_tsawa_sapche   BEN-LB-005
3  W1OP000004  title_quotes_yigchung_tsawa_sapche   BEN-LB-007
4  W1OP000005                title_yigchung_tsawa   BEN-LB-009

In [31]:
layer_df.to_csv('../data/layer.csv', index=False)

In [32]:
df = pd.read_csv('../data/layer.csv')
df.head()

           ID                              Layers     Filename
0  W1OP000001                      title_yigchung  LEK-PHI-004
1  W1OP000002                title_yigchung_tsawa   BEN-LB-002
2  W1OP000003  title_quotes_yigchung_tsawa_sapche   BEN-LB-005
3  W1OP000004  title_quotes_yigchung_tsawa_sapche   BEN-LB-007
4  W1OP000005                title_yigchung_tsawa   BEN-LB-009